{
  "extends": ["oclif", "oclif-typescript", "prettier"],
  "rules": {
    "@typescript-eslint/member-delimiter-style": false,
    "unicorn/filename-case": [
      "error",
      {
        "case": "camelCase"
      }
    ]
  }
}
